:root {
  --color-mix-combination: 20%;
  --green: color-mix(in oklab, var(--accent-green), var(--window-bg-color) var(--color-mix-combination));
  --red: color-mix(in oklab, var(--accent-red), var(--window-bg-color) var(--color-mix-combination));
  --blue: color-mix(in oklab, var(--accent-blue), var(--window-bg-color) var(--color-mix-combination));
  --orange: color-mix(in oklab, var(--accent-orange), var(--window-bg-color) var(--color-mix-combination));
  --purple: color-mix(in oklab, var(--accent-purple), var(--window-bg-color) var(--color-mix-combination));
  --pink: color-mix(in oklab, var(--accent-pink), var(--window-bg-color) var(--color-mix-combination));
  --yellow: color-mix(in oklab, var(--accent-yellow), var(--window-bg-color) var(--color-mix-combination));
  --teal: color-mix(in oklab, var(--accent-teal), var(--window-bg-color) var(--color-mix-combination));
  --slate: color-mix(in oklab, var(--accent-slate), var(--window-bg-color) var(--color-mix-combination));
}

.lesson {
  margin: 5px;
  border-radius: 5px;
}

.cancelled {
  border: 2px solid red;
  opacity: 0.5;
}

.changed {
  border: 2px solid green;
}

.day {
  border-radius: 20px;
  margin: 4px;
}

.today {
  background: red;
}

.changed.label {
  background: green;
  border-radius: 20px;
}

.green {
  background: var(--green);
}
.red {
  background: var(--red);
}
.blue {
  background: var(--blue);
}
.orange {
  background: var(--orange);
}
.purple {
  background: var(--purple);
}
.teal {
  background: var(--teal);
}
.yellow {
  background: var(--yellow);
}
.slate {
  background: var(--slate);
}
.pink {
  background: var(--pink);
}

