:root {
  --color-mix-combination: 50%;
  --green: color-mix(in oklab, var(--accent-green), var(--window-bg-color) var(--color-mix-combination));
  --red: color-mix(in oklab, var(--accent-red), var(--window-bg-color) var(--color-mix-combination));
  --blue: color-mix(in oklab, var(--accent-blue), var(--window-bg-color) var(--color-mix-combination));
  --orange: color-mix(in oklab, var(--accent-orange), var(--window-bg-color) var(--color-mix-combination));
  --purple: color-mix(in oklab, var(--accent-purple), var(--window-bg-color) var(--color-mix-combination));
  --pink: color-mix(in oklab, var(--accent-pink), var(--window-bg-color) var(--color-mix-combination));
  --yellow: color-mix(in oklab, var(--accent-yellow), var(--window-bg-color) var(--color-mix-combination));
  --teal: color-mix(in oklab, var(--accent-teal), var(--window-bg-color) var(--color-mix-combination));
  --slate: color-mix(in oklab, var(--accent-slate), var(--window-bg-color) var(--color-mix-combination));
}

.lesson {
  margin: 0px;
  border-radius: 5px;
}

.past {
  opacity: 0.75;
}

.cancelled {
  border: 2px solid red;
  opacity: 0.5;
}

.changed {
  border: 2px solid color-mix(in oklab, red, rgb(from var(--window-bg-color) calc(255 - r) calc(255 - g) calc(255 - b)) 50%);
}

.day {
  border-radius: 20px;
  margin: 4px;
}

.today {
  background: red;
}

.changed.label {
  background: green;
  border: 2px solid orange;
  border-radius: 20px;
}

.green {
  background: var(--accent-green);
}
.red {
  background: var(--accent-red);
}
.blue {
  background: var(--accent-blue);
}
.orange {
  background: var(--accent-orange);
}
.purple {
  background: var(--accent-purple);
}
.teal {
  background: var(--accent-teal);
}
.yellow {
  background: var(--accent-yellow);
}
.slate {
  background: var(--accent-slate);
}
.pink {
  background: var(--accent-pink);
}


.green.cancelled {
  background: var(--green);
}
.red.cancelled {
  background: var(--red);
}
.blue.cancelled {
  background: var(--blue);
}
.orange.cancelled {
  background: var(--orange);
}
.purple.cancelled {
  background: var(--purple);
}
.teal.cancelled {
  background: var(--teal);
}
.yellow.cancelled {
  background: var(--yellow);
}
.slate.cancelled {
  background: var(--slate);
}
.pink.cancelled {
  background: var(--pink);
}

.changed-homework {
  background: color-mix(in oklab, var(--accent-red), var(--window-bg-color) 70%);
  border-radius: 10px;
  padding: 4px;
  margin-top: 4px;
}

.changed-homework row.header {
  border-radius: 6px;
}

.changed-homework list.nested {
  border-radius: 6px;
  padding: 4px;
}
